In [50]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

In [75]:
#Read in data from CSV files.
df = pd.read_csv('raw_data/PO_Dataset.csv')
name_mapping = pd.read_csv('clean_data/Clean_Code_Master_list.csv')
df.head()

,Company #,Purchase Order,Item,Vendor,Description,Unit of Measure,Units,Unit Cost,Cost,Cost Code
0,8,1200-001,1,Paragon Electrical Installations Ltd.,Additional smoke detector/re-verification,LS,0,0.0,1444.0,26-20-20
1,8,1200-002,1,Accurate Aluminum Ltd,S&I railing as per quote Aug. 13 2015,LS,0,0.0,500.0,05-52-20
2,8,1200-003,1,Dura Productions,S&I metal ramp,LS,0,0.0,795.0,05-52-20
3,8,1200-004,1,Friesen Floors & Window Fashions Ltd,S&I hardwood flooring for enclosed balcony area,LS,0,0.0,2314.0,09-64-33
4,8,1209-1-01,1,Alba Painting Ltd.,Painting of two offices,LS,0,0.0,900.0,09-91-40

In [52]:
#The Convert the Units column to float
df['Units'] = pd.to_numeric(df['Units'], errors='coerce').fillna(0)
df['Units'] = df['Units'].astype('float64')

#Drop lines with null values
df.dropna(inplace=True)

#Read in Master list of valid cost codes
df_ml = pd.read_csv('raw_data/Code_Master_list.csv')

#Drop rows where the cost code is not in the master list
df = df[df['Cost Code'].isin(df_ml['Cost Code'])].dropna()

#Create a new dataframe that takes only the 90th quartile of data from the 3 numerical columns.
df_90 = df[df['Cost'] < df['Cost'].quantile(.90)]
df_90 = df_90[df_90['Units'] < df_90['Units'].quantile(.90)]
df_90 = df_90[df_90['Unit Cost'] < df_90['Unit Cost'].quantile(.90)]

# It's a good practice to scale numerical data
# Initialize a scaler, then apply it to the features
scaler = MinMaxScaler() 
numerical = ['Units','Unit Cost','Cost']

df_90[numerical] = scaler.fit_transform(df_90[numerical])

# When splitting for training and testing later, we'll need a minimum of 2 examples of each cost code.
# Assign cost code to a variable
df_count = df_90['Cost Code'].value_counts()

#New dataframe only includes lines with cost codes with a count of 2 or greater
df_90 = df_90[~df_90['Cost Code'].isin(df_count[df_count < 2].index)]


#One Hot Encode categorical features
categorical = ['Vendor', 'Unit of Measure']
df_90 = pd.get_dummies(df_90, columns = categorical )

#Numerically encode cost codes.
le = LabelEncoder()
cost_code = df_90['Cost Code']
df_90['Cost Code Encoded'] = le.fit_transform(cost_code)

#drop features I won't be using
df_90 = df_90.drop(['Company #','Purchase Order', 'Item'], axis = 1)

df = df_90

In [53]:
cost_codes = df['Cost Code Encoded']
features = df.drop(['Cost Code','Cost Code Encoded'], axis=1)

In [54]:
#Use sklearn train test split to split the data into training and testing sets. 
#Testing set is 20% of total dataset size.
#Stratify the data so we don't introduce bias in the sets.

X_train, X_test, y_train, y_test = train_test_split(features,
                                                    cost_codes,
                                                    test_size = 0.2,
                                                    stratify = cost_codes
                                                   )

In [55]:
print(X_train.shape)
print(y_train.shape)

(22739, 487)
(22739,)

In [56]:
#Split out X_train and X_test Descriptions for use in sepearate model.
X_train_desc = X_train['Description'].copy()
X_train = X_train.drop('Description', axis=1)

X_test_desc = X_test['Description'].copy()
X_test = X_test.drop('Description', axis=1)

In [57]:
from sklearn.linear_model import SGDClassifier
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, TfidfTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, classification_report

sgd = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', SGDClassifier(loss='hinge', penalty='l2',alpha=1e-3, max_iter = 5, random_state=42, tol = 1e-3)),
               ])
sgd.fit(X_train_desc, y_train)


y_pred = sgd.predict(X_test_desc)

print('accuracy %s' % accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred))

accuracy 0.43746701846965697
              precision    recall  f1-score   support

           1       0.00      0.00      0.00         2
           2       0.71      0.95      0.81       112
           3       0.62      0.62      0.62         8
           4       0.89      0.59      0.71        29
           5       0.65      0.79      0.71        19
           6       0.62      1.00      0.77         5
           7       0.62      0.43      0.51        23
           8       0.00      0.00      0.00         0
           9       0.40      0.80      0.53         5
          10       0.00      0.00      0.00         1
          11       0.52      0.33      0.40        46
          12       0.55      0.86      0.67       156
          13       0.00      0.00      0.00         1
          14       0.65      0.45      0.53        29
          15       0.00      0.00      0.00         2
          16       0.22      0.17      0.19        12
          17       0.47      0.16      0.24        51
          18       0.53      0.81      0.64       215
          19       0.28      0.17      0.21       110
          20       0.67      0.50      0.57        16
          21       0.18      0.13      0.15        15
          22       0.75      0.43      0.55         7
          23       0.58      0.43      0.49        61
          24       0.42      0.54      0.47       534
          25       0.20      0.07      0.11        14
          26       0.37      0.33      0.35       209
          28       0.60      0.95      0.73        19
          29       0.59      0.38      0.46        45
          30       0.33      0.27      0.30        11
          32       0.00      0.00      0.00         1
          33       0.38      0.38      0.38         8
          34       0.33      0.10      0.15        10
          35       0.33      0.04      0.07        25
          36       0.00      0.00      0.00         2
          37       0.00      0.00      0.00         2
          38       0.50      0.14      0.22         7
          39       0.00      0.00      0.00         4
          40       0.42      0.37      0.40        46
          41       0.31      0.35      0.33        31
          42       0.40      0.21      0.28        19
          43       0.00      0.00      0.00         2
          44       0.00      0.00      0.00         3
          45       0.37      0.31      0.34        32
          46       0.57      0.25      0.35        16
          47       0.86      0.86      0.86         7
          48       0.24      0.19      0.21        67
          49       0.38      0.08      0.14        36
          50       0.00      0.00      0.00         1
          51       0.38      0.34      0.36        32
          52       0.57      0.25      0.35        16
          53       0.00      0.00      0.00         2
          54       0.48      0.77      0.59       210
          55       0.56      0.43      0.49        53
          56       0.00      0.00      0.00         2
          57       0.00      0.00      0.00         2
          58       0.00      0.00      0.00         1
          59       1.00      0.17      0.29         6
          60       0.00      0.00      0.00         2
          61       0.00      0.00      0.00         2
          62       0.56      0.60      0.58        25
          63       0.00      0.00      0.00         1
          64       0.58      0.32      0.41        91
          65       0.00      0.00      0.00         2
          66       0.00      0.00      0.00         5
          68       0.48      0.53      0.51       181
          69       0.86      0.67      0.75         9
          70       0.33      0.13      0.18       158
          71       0.39      0.44      0.41       536
          72       0.33      0.18      0.23       202
          73       0.41      0.66      0.51       829
          74       0.37      0.12      0.18       471
          75       0.62      0.12      0.20        66
          76       0.00      0.00      0.00        24
          77       0.50      0.22      0.31         9
          78       0.25      0.03      0.05        38
          79       0.00      0.00      0.00         2
          80       0.00      0.00      0.00         5
          81       0.00      0.00      0.00         2
          82       0.67      0.77      0.71        13
          83       0.71      0.67      0.69        15
          84       0.00      0.00      0.00         1
          85       0.00      0.00      0.00         1
          86       0.70      0.44      0.54        16
          87       0.00      0.00      0.00         2
          88       0.69      0.58      0.63        19
          89       0.00      0.00      0.00         2
          90       0.38      0.28      0.32        68
          91       0.00      0.00      0.00        18
          92       0.22      0.11      0.14        19
          93       0.00      0.00      0.00         7
          94       0.00      0.00      0.00         5
          95       0.00      0.00      0.00         1
          96       0.00      0.00      0.00         1
          97       0.20      1.00      0.33         1
          98       0.50      0.40      0.44         5
         100       0.00      0.00      0.00         5
         101       0.00      0.00      0.00         1
         102       0.00      0.00      0.00         1
         103       0.00      0.00      0.00         2
         104       0.00      0.00      0.00         3
         105       0.00      0.00      0.00         1
         106       0.00      0.00      0.00         1
         107       0.40      0.50      0.44         4
         109       0.42      0.42      0.42        12
         110       1.00      0.50      0.67         2
         111       1.00      1.00      1.00         1
         112       0.38      0.38      0.38         8
         113       0.00      0.00      0.00         1
         114       0.00      0.00      0.00         1
         115       0.00      0.00      0.00         1
         117       0.00      0.00      0.00         1
         118       0.00      0.00      0.00         0
         119       0.00      0.00      0.00         1
         120       0.00      0.00      0.00         0
         121       0.00      0.00      0.00         1
         123       0.00      0.00      0.00         3
         124       0.33      0.20      0.25         5
         125       0.00      0.00      0.00         0
         126       0.00      0.00      0.00         1
         127       0.33      0.50      0.40         2
         128       0.00      0.00      0.00         1
         129       0.00      0.00      0.00         1
         130       0.00      0.00      0.00         1
         131       0.89      0.62      0.73        13
         132       0.00      0.00      0.00         1
         133       0.00      0.00      0.00         1
         134       0.00      0.00      0.00         1
         136       0.00      0.00      0.00         1
         137       0.50      0.17      0.25         6
         138       0.00      0.00      0.00         0
         139       0.00      0.00      0.00         1
         140       0.00      0.00      0.00         1
         141       0.75      0.50      0.60         6
         142       0.00      0.00      0.00         0
         143       0.00      0.00      0.00         4
         144       0.00      0.00      0.00         1
         145       0.00      0.00      0.00         1
         147       0.00      0.00      0.00         5
         149       1.00      1.00      1.00         1
         151       0.50      1.00      0.67         1
         152       0.00      0.00      0.00         5
         154       0.00      0.00      0.00         2
         155       0.00      0.00      0.00         1
         156       0.22      0.33      0.27         6
         157       1.00      1.00      1.00         2
         158       0.00      0.00      0.00         2
         159       0.00      0.00      0.00         1
         160       0.00      0.00      0.00         0
         161       0.00      0.00      0.00         1
         162       0.00      0.00      0.00         1
         163       0.00      0.00      0.00         2
         164       0.00      0.00      0.00         2
         165       0.00      0.00      0.00         0
         166       0.00      0.00      0.00         1
         167       0.00      0.00      0.00         1
         168       0.00      0.00      0.00         1
         169       0.00      0.00      0.00         2
         171       0.00      0.00      0.00         1
         172       0.00      0.00      0.00         1
         173       0.00      0.00      0.00         2
         174       0.00      0.00      0.00         1
         175       0.50      0.50      0.50         2
         176       0.00      0.00      0.00         2
         177       0.00      0.00      0.00         1
         178       0.00      0.00      0.00         2
         179       0.67      0.40      0.50         5
         180       0.50      0.25      0.33         4
         181       0.00      0.00      0.00         1
         182       1.00      0.25      0.40         4
         183       0.00      0.00      0.00         1
         185       0.00      0.00      0.00         1
         186       1.00      0.75      0.86         4
         187       0.00      0.00      0.00         1
         188       1.00      1.00      1.00         1
         189       0.00      0.00      0.00         1
         190       0.00      0.00      0.00         1
         191       0.00      0.00      0.00         6
         192       0.00      0.00      0.00         1
         193       0.00      0.00      0.00         5
         194       0.48      0.53      0.50       102
         195       0.46      0.41      0.44        41
         196       0.25      0.13      0.17        23
         197       1.00      0.67      0.80         3
         198       0.00      0.00      0.00         1
         199       0.00      0.00      0.00         2
         200       0.67      0.25      0.36         8
         201       0.00      0.00      0.00         3
         202       0.57      0.50      0.53         8
         203       0.25      0.11      0.15         9
         204       0.00      0.00      0.00         2
         205       0.40      0.36      0.38        22
         207       0.00      0.00      0.00         3
         208       0.00      0.00      0.00         3
         209       0.00      0.00      0.00         1
         210       0.00      0.00      0.00         1
         211       0.00      0.00      0.00         1
         212       0.00      0.00      0.00         1
         215       0.00      0.00      0.00         2
         216       1.00      0.50      0.67         2
         217       0.00      0.00      0.00         1
         218       0.00      0.00      0.00         1
         220       0.00      0.00      0.00         1
         221       0.00      0.00      0.00         1
         222       1.00      0.20      0.33         5
         223       0.00      0.00      0.00         1

   micro avg       0.44      0.44      0.44      5685
   macro avg       0.24      0.20      0.20      5685
weighted avg       0.42      0.44      0.41      5685

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:603: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [73]:
df_output = pd.DataFrame({'Text':X_test_desc ,'Prediction':le.inverse_transform(y_pred), 'Actual':le.inverse_transform(y_test)})

In [99]:
name_mapping.head()

  Cost Code               Description
0  00-10-17   geotechnical consultant
1  00-61-13            subtrade bonds
2  01-30-12           project manager
3  01-30-14       project coordinator
4  01-30-23  finishing superintendent

In [118]:
out = df_output.merge(name_mapping, left_on='Actual',right_on='Cost Code')
out.rename(index=str, columns={'Description':'Actual Desc.'}, inplace = True)
out.drop(['Cost Code'], axis = 1, inplace = True)
out.head()

                        Text Prediction    Actual     Actual Desc.
0  18.5L Demineralized water   01-51-36  01-51-36  temporary water
1            Nozzle  red fog   01-52-23  01-51-36  temporary water
2            9OZ cup sleeves   01-57-40  01-51-36  temporary water
3             Monthly August   06-46-33  01-51-36  temporary water
4                   OH/P 15%   01-30-31  01-51-36  temporary water

In [119]:
out = out.merge(name_mapping, left_on='Prediction',right_on='Cost Code')
out.drop(['Cost Code'], axis = 1, inplace=True)
out.rename(index=str, columns={'Description':'Predicted Desc.'}, inplace=True)
out.head()

,Text,Prediction,Actual,Actual Desc.,Predicted Desc.
0,18.5L Demineralized water,01-51-36,01-51-36,temporary water,temporary water
1,18.5L Demineralized water,01-51-36,01-51-36,temporary water,temporary water
2,fuel cost,01-51-36,03-31-42,concrete materials - below-grade horizontals,temporary water
3,Fuel Cost,01-51-36,03-31-43,concrete material - above grade verticals,temporary water
4,Fuel Cost,01-51-36,03-31-43,concrete material - above grade verticals,temporary water

In [120]:
cols = ['Text', 'Prediction','Predicted Desc.', 'Actual', 'Actual Desc.']
out = out[cols]

In [122]:
out.head()

,Text,Prediction,Predicted Desc.,Actual,Actual Desc.
0,18.5L Demineralized water,01-51-36,temporary water,01-51-36,temporary water
1,18.5L Demineralized water,01-51-36,temporary water,01-51-36,temporary water
2,fuel cost,01-51-36,temporary water,03-31-42,concrete materials - below-grade horizontals
3,Fuel Cost,01-51-36,temporary water,03-31-43,concrete material - above grade verticals
4,Fuel Cost,01-51-36,temporary water,03-31-43,concrete material - above grade verticals